doctype 5
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/stylish-portfolio.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
  body.preview
    block content